*.zip

.*

cpp/bin/
cpp/proj.ios_mac/build/

cpp/proj.android/local.properties
cpp/proj.android/assets/
cpp/proj.android/obj/
cpp/proj.android/bin/
cpp/proj.android/gen/
cpp/proj.android/libs/
cpp/proj.android/build/
cpp/proj.android/libs/share_lib/local.properties
cpp/proj.android/libs/share_lib/proguard-project.txt
cpp/proj.android/libs/share_lib/bin/
cpp/proj.android/libs/share_lib/gen/

lua/frameworks/runtime-src/proj.ios_mac/build
lua/frameworks/runtime-src/proj.android/local.properties
lua/frameworks/runtime-src/proj.android/assets/
lua/frameworks/runtime-src/proj.android/obj/
lua/frameworks/runtime-src/proj.android/bin/
lua/frameworks/runtime-src/proj.android/gen/
lua/frameworks/runtime-src/proj.android/libs/
lua/simulator
lua/frameworks/runtime-src/proj.android/libs/share_lib/bin/
lua/frameworks/runtime-src/proj.android/libs/share_lib/gen/
lua/frameworks/runtime-src/proj.android/libs/share_lib/local.properties
lua/frameworks/runtime-src/proj.android/libs/share_lib/proguard-project.txt


js/frameworks/runtime-src/proj.ios_mac/build
js/frameworks/runtime-src/proj.android/local.properties
js/frameworks/runtime-src/proj.android/assets/
js/frameworks/runtime-src/proj.android/obj/
js/frameworks/runtime-src/proj.android/bin/
js/frameworks/runtime-src/proj.android/gen/
js/frameworks/runtime-src/proj.android/libs/
js/simulator
js/frameworks/runtime-src/proj.android/libs/share_lib/bin/
js/frameworks/runtime-src/proj.android/libs/share_lib/gen/
js/frameworks/runtime-src/proj.android/libs/share_lib/local.properties
js/frameworks/runtime-src/proj.android/libs/share_lib/proguard-project.txt



# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno


# End of https://www.gitignore.io/api/xcode

